<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AI-ChatBot</title>
    <link rel = "icon" type = "image/png" href = "https://img.icons8.com/bubbles/200/000000/microphone.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    
</head>
<body >
    <div class="container-fluid mt-2">
        <div class="container">
            <div class="row">
                <div class="col-sm text-center text-warning"><h1>The Moody Assistant</h1></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 d-flex justify-content-center mt-2 mb-3"><button><img src="https://img.icons8.com/bubbles/200/000000/microphone.png"></button></div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-warning chatBox pt-2 mb-3">
                    <p><img src="https://img.icons8.com/officel/50/000000/person-male.png"> :&nbsp;&nbsp;<em class="yourOut">. . .</em></p>
                    <p><img src="https://img.icons8.com/doodle/50/000000/retro-robot.png"> :&nbsp;&nbsp;<em class="botOut">. . .</em></p>
                </div>
                <div class="col-sm-3"></div>
            </div>

        </div>
    </div>
    <footer class="page-footer font-small mdb-color darken-3  foot position-bottom">
            <div class="footer-copyright text-center text-secondary py-3">&copy;2019 Designer & Developer:
         <a href="http://www.linkedin.com/in/sudhirkr23" class="text-warning"> Sudhir Kumar</a>
       </div>
     
     </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src='js/script.js'></script>
</body>
</html>